@if (Answer is null)
{
    <div class="answer is-hidden">
        <h2 class="answer-ranking" id="answer-ranking">
            No. 
        </h2>
        <h2 class="answer-content" id="answer-content">
            Answer.
        </h2>
        <h2 class="answer-points" id="answer-points">
            Points.
        </h2>
    </div>
}
else
{
<div class="answer is-revealed" id="answer-{@Answer.Ranking}">
    <h2 class="answer-ranking" id="answer-ranking">
        @Answer.Ranking
    </h2>
    <h2 class="answer-content" id="answer-content">
        @Answer.Content
    </h2>
    <h2 class="answer-points" id="answer-points">
        @Answer.Points
    </h2>
</div>
}


@code {
    [Parameter]
    public AnswerDto? Answer { get; set; }
}
