@page "/Rounds"
@page "/Rounds/{GameKey}"
@using FeudingFamily.Components.Layout
@layout EmptyLayout
@inject IGameManager gameManager
@attribute [StreamRendering]

<PageTitle>FeudingFamily - Rounds</PageTitle>

<main class="p-4 grid grid-cols-5">

    @if (GameKey is null)
    {
        <h1>no game key</h1>
    }
    else if (PrevRounds.Count == 0)
    {
        <h1>No Rounds Found</h1>
    }
    else
    {
        var count = 1;
        @foreach (var round in PrevRounds)
        {
            <div class="w-min">
                <h1>Round: @count</h1>
                <h1>Points: @round.Points</h1>
                <h1>Winner: @round.RoundWinner</h1>
                <h1>--------------------------</h1>
            </div>
            count++;
        }
    }

</main>

@code {
    [Parameter] public string? GameKey { get; set; }
    public List<RoundDto> PrevRounds { get; set; } = [];

    protected override void OnParametersSet()
    {
        if (GameKey is null)
        {
            return;
        }

        var jgr = gameManager.GetGame(GameKey);
        if (jgr.Success is true)
        {
            PrevRounds = jgr.Game!.PreviousRounds;
        }
    }

}