main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  background-color: grey;
  height: 100vh;
}

.wrong-answers {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  padding-inline: 4rem;
  height: 4rem;
  width: 100%;

  img {
    aspect-ratio: 1/1;
    height: inherit;
  }
}

.game-board {
  flex: auto;
  width: 100vw;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.answers {
  flex: 2;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  justify-items: center;
  padding-top: 3rem;
  padding-inline: 2rem;

  gap: 1rem;
}

.wrong-modal,
.buzzer-modal {
  z-index: 999;
  overflow: hidden;
  position: absolute;
  inset: 0;
  margin: auto;
  width: clamp(500px, 80%, 1000px);
  aspect-ratio: 3/2;
}

.wrong-modal:not([open]),
.buzzer-modal:not([open]) {
  display: none;
}

.wrong-modal {
  background: url(../images/wrong-answer-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.buzzer-modal {
  display: grid;
  place-items: center;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  gap: 5%;
  background: none;
  border: black 10px solid;
  border-radius: 100px;
}

.buzzer-modal::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: -100%;
  top: -100%;
  width: 300%;
  height: 300%;
  background: conic-gradient(
    white 0deg 15deg,
    lightyellow 15deg 30deg,
    white 30deg 45deg,
    lightyellow 45deg 60deg,
    white 60deg 75deg,
    lightyellow 75deg 90deg,
    white 90deg 105deg,
    lightyellow 105deg 120deg,
    white 120deg 135deg,
    lightyellow 135deg 150deg,
    white 150deg 165deg,
    lightyellow 165deg 180deg,
    white 180deg 195deg,
    lightyellow 195deg 210deg,
    white 210deg 225deg,
    lightyellow 225deg 240deg,
    white 240deg 255deg,
    lightyellow 255deg 270deg,
    white 270deg 285deg,
    lightyellow 285deg 300deg,
    white 300deg 315deg,
    lightyellow 315deg 330deg,
    white 330deg 345deg,
    lightyellow 345deg 360deg
  );
}
