@page "/Presenter"
@page "/Presenter/{GameKey}"
@layout Layout.EmptyLayout
@inherits PresenterPageBase
@using Microsoft.AspNetCore.SignalR.Client
@using FeudingFamily.Logic
@rendermode InteractiveServer

<PageTitle>FeudingFamily - Presenter</PageTitle>

<main>
    <PresenterAudio @ref=presenterAudio />

    <dialog class="wrong-modal" id="wrong-modal" open=@IsWrongModalShown></dialog>
    <dialog class="buzzer-modal" id="buzzer-modal" open=@IsBuzzerModalShown>
        @BuzzingTeam buzzed in!
    </dialog>

    <div class="game-board">

        <Question IsRevealed=@Round.IsQuestionRevealed Content=@Question.Content OnClick=@RevealQuestion />

        <div class="answers">
            @for (int i = 0; i < 5; i++)
            {
                var answer = Question.Answers[i];

                <Answer IsRevealed=@Round.IsAnswerRevealed[i] Ranking=@answer.Ranking Content=@answer.Content
                    Points=@answer.Points OnClick=@(() => RevealAnswer(answer.Ranking)) />
            }
        </div>

    </div>

    <div class="wrong-answers">
        @for (int i = 0; i < Round.WrongAnswers; i++)
        {
            <img src="/images/wrong-answer-icon.png">
        }
    </div>

</main>