@page "/Presenter"
@page "/Presenter/{GameKey}"
@layout Layout.EmptyLayout
@inherits PresenterPageBase
@using Microsoft.AspNetCore.SignalR.Client
@using FeudingFamily.Logic
@rendermode InteractiveServer

<PageTitle>FeudingFamily - Presenter</PageTitle>
<main>
  <dialog class="wrong-modal" id="wrong-modal" open=@IsWrongModalShown></dialog>
  <dialog class="buzzer-modal" id="buzzer-modal" open=@IsBuzzerModalShown></dialog>

  <div class="game-board">
    
    <Question IsRevealed=Round.IsQuestionRevealed Content=@Question.Content />

    <div class="answers">
      @for (int i = 0; i < 5; i++)
      {
        <Answer IsRevealed=Round.IsAnswerRevealed[i]
          Ranking=@Question.Answers[i].Ranking
          Content=@Question.Answers[i].Content
          Points=@Question.Answers[i].Points
        />
      }
    </div>

    <div class="left-timer-container ">
      <div class="timer" id="left_timer"></div>
    </div>

    <div class="right-timer-container">
      <div class="timer" id="right_timer"></div>
    </div>

  </div>

</main>
