@page "/Presenter"
@page "/Presenter/{GameKey}"
@layout Layout.EmptyLayout
@inherits PresenterPageBase
@using Microsoft.AspNetCore.SignalR.Client
@using FeudingFamily.Logic
@rendermode InteractiveServer

<PageTitle>FeudingFamily - Presenter</PageTitle>

<main>
  <dialog class="wrong-modal" id="wrong-modal" open=@IsWrongModalShown></dialog>
  <dialog class="buzzer-modal" id="buzzer-modal" open=@IsBuzzerModalShown></dialog>

  <div class="game-board">
    
    <Question IsRevealed=@Round.IsQuestionRevealed Content=@Question.Content OnClick=@RevealQuestion />

    <div class="answers">
      @for (int i = 0; i < 5; i++)
      {
        var answer = Question.Answers[i];

        <Answer IsRevealed=@Round.IsAnswerRevealed[i] Ranking=@answer.Ranking Content=@answer.Content Points=@answer.Points />
      }
    </div>
    
  </div>

</main>
