@page "/Presenter"
@page "/Presenter/{GameKey}"
@layout Layout.EmptyLayout
@inherits PresenterPageBase
@using Microsoft.AspNetCore.SignalR.Client
@using FeudingFamily.Logic
@rendermode InteractiveServer

<PageTitle>FeudingFamily - Presenter</PageTitle>
<main>
  <dialog class="wrong-container" id="wrong-container"></dialog>
  <dialog class="buzzer-container" id="buzzer-container" open=@IsBuzzerModalShown></dialog>

  <div class="board">

    @{var question = Game is not null ? Game.CurrentQuestion : DefaultQuestion;};

    <div class="question revealed">
      <h1 id="question-content">
        @question.Content;
      </h1>
    </div>

    <div class="answers">
      @foreach (var answer in question.Answers)
      {
        <div class="answer revealed" id="answer-{@answer.Ranking}">
          <div class="answer-ranking">
            <p>@answer.Ranking</p>
          </div>
          <div class="answer-content">
            <p id="answer">@answer.Content</p>
          </div>
          <div class="answer-points">
            <p id="points">@answer.Points</p>
          </div>
        </div>
      }
      }
      }

    </div>

    <div class="left-timer-container ">
      <div class="timer" id="left_timer"></div>
    </div>

    <div class="right-timer-container">
      <div class="timer" id="right_timer"></div>
    </div>
  </div>

</main>
