@page "/Buzzzer"
@page "/Buzzer/{gameKey}"
@inherits BuzzerPageBase
@rendermode InteractiveServer

<PageTitle>Feuding Family - Buzzer</PageTitle>

<div class="wrapper">
    <dialog>YOU BUZZED IN!!</dialog>
    <div class="team-name">
        <h1>Team:<br />@TeamName</h1>
    </div>
    <button class="buzzer" @onmousedown="SendBuzz"></button>
</div>