@page "/join"
@page "/"
@layout Layout.EmptyLayout
@inject NavigationManager NavManager
@inject IGameManager GameManager

<PageTitle>FeudingFamily - Join</PageTitle>
<body>
<div class="h-screen grid place-content-center bg-gray-50">
    <div class=" p-10 grid place-content-center gap-4 shadow-md rounded-xl bg-white">
        <h1 class="font-bold text-center text-xl pb-2 mb-2 border-b-2 border-black">Feuding Family</h1>
        
        <EditForm OnSubmit="JoinTeamSubmit" Model="JoinRequest" FormName="JoinGameForm" class="flex flex-col gap-2">
            <InputText required @bind-Value="JoinRequest.GameKey" placeholder="Game Key:" class="border-b-2 border-gray-500/50 p-2 focus:outline-none transition-colors duration-300 focus:border-green-400"/>
            <InputText @bind-Value="JoinRequest.TeamName" placeholder="Team Name:" class="border-b-2 border-gray-500/50 p-2 focus:outline-none transition-colors duration-300 focus:border-green-400"/>
            <button class="mt-4 border-2 border-green-300 p-2 rounded-sm hover:bg-green-200 focus:bg-green-200 transition-all" type="submit" name="join">Join Team</button>
        
            <div class="error-box">
                @if (!JoinResult.Success)
                {
                    <span class="text-red-400">&#9888;</span>
                    <h3 class="text-red-400 text-sm inline">@JoinResult.ErrorMessage</h3>
                    
                }
            </div>

            <div class="flex flex-row gap-2">
                <button type="submit" class="text-center flex-1 py-2 px-4 border-2 rounded-sm border-red-300 hover:bg-red-200 focus:bg-red-200 transition-all">Presenter</button>
                <button type="submit" class="text-center flex-1 py-2 px-4 border-2 rounded-sm border-blue-300 hover:bg-blue-200 focus:bg-blue-200 transition-all">Controller</button>
            </div>
        </EditForm>

    </div>
</div>
</body>

@code {

    [SupplyParameterFromForm]
    public JoinGameRequest? JoinRequest { get; set; }

    public JoinGameResult? JoinResult { get; set; }

    protected override void OnInitialized()
    {
        JoinRequest ??= new();
        JoinResult ??= new();
    }

    private void CreateGameSubmit()
    {
        JoinResult = GameManager.GetGame(JoinRequest.GameKey);
    }

    private void JoinTeamSubmit()
    {
        JoinResult = GameManager.GetGame(JoinRequest.GameKey);
    }

    public class JoinGameRequest
    {
        public string GameKey { get; set; } = String.Empty;
        public string TeamName { get; set; } = String.Empty;
    }
}