@page "/join"
@page "/"
@namespace FeudingFamily.Components
@using FeudingFamily.Logic
@using Microsoft.AspNetCore.Components.Forms
@inject IGameManager GameManager
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<PageTitle>FeudingFamily - Join</PageTitle>

<body>
    <div class="h-screen grid place-content-center bg-gray-900">

        <form action="/form" method="get"
            class="p-10 grid place-content-center gap-4 shadow-md rounded-xl bg-slate-800">

            <h1 class="font-bold text-slate-300 text-center text-xl pb-2 mb-2 border-b-2 border-slate-300">
                Feuding
                Family
            </h1>

            <input name="GameKey" placeholder="Game Key:" patter="[A-Z0-9]{4}" required class="text-slate-300 bg-transparent border-b-2 pt-4 focus:outline-none transition-colors duration-300
                    border-gray-500/50 focus:invalid:border-red-400 valid:border-green-400" />

            <input name="TeamName" placeholder="Team Name:" class="text-slate-300 bg-transparent border-b-2 pt-4 focus:outline-none transition-colors duration-300
                    empty:border-gray-500/50 empty:focus:border-red-400 focus:border-green-400 border-green-400" />

            <button name="Team" class="text-slate-300 mt-4 border-2 border-green-300 p-2 rounded-sm hover:shadow-inner hover:text-black hover:bg-green-200 transition-all duration-300"
                    type="submit">
                Join Team
            </button>

            <div class="error-box">
                @if (!string.IsNullOrWhiteSpace(ErrorMessage))
                {
                    <span class="text-red-400">&#9888;</span>
                    <h3 class="text-red-400 text-sm inline">@ErrorMessage</h3>
                }
            </div>

            <div class="flex flex-row gap-2">
                <button name="Presenter" class="text-slate-300 text-center flex-1 p-2 border-2 rounded-sm border-red-300 hover:text-black hover:bg-red-200 focus:text-black focus:bg-red-200 transition-all duration-300">
                    Presenter
                </button>
                <button name="Presenter" class="text-slate-300 text-center flex-1 p-2 border-2 rounded-sm border-blue-300 hover:text-black hover:bg-blue-200 focus:text-black focus:bg-blue-200 transition-all duration-300">
                    Controller
                </button>
            </div>
        </form>
    </div>
</body>


@code {
    [Parameter]
    public string ErrorMessage { get; set; } = string.Empty;

}