@if (Team is not null)
{
    var fontColor = IsTeamPlaying ? "text-red-500" : "text-black-500";
    if (RoundWinner)
    {
        fontColor = "text-green-600";
    }

    <div class="team @fontColor flex justify-evenly">
        <span> @Team.Name</span>
        <input hidden=true>
        <span>@Team.Points • @Team.RoundsWon</span>
        <span>@Team.WrongAnswers/3</span>
        <button type="button" @onclick=SubmitTeamKill>Delete</button>
    </div>
}


<style>
    .team {
        display: grid;
        grid-template-rows: 1fr 1fr;
        place-items: center;
    }

    .team input {
        padding-inline: 0.5rem;
        max-width: 100%;
        min-width: 0;
        field-sizing: fixed;
    }

    .team span {
        margin-inline: 0.5rem;
    }

    .team-name {
        box-sizing: border-box;
        text-align: center;
        max-width: 100%;
        min-width: 0;
    }
</style>

@code {

    [Parameter] public TeamDto? Team { get; set; }
    [Parameter] public bool IsTeamPlaying { get; set; } = false;
    [Parameter] public bool RoundWinner { get; set; } = false;
    [Parameter] public EventCallback<string> OnEdit { get; set; }
    [Parameter] public EventCallback OnTeamKill { get; set; }

    private async Task SubmitTeamKill()
    {
        await OnTeamKill.InvokeAsync();
    }

}