* {
  box-sizing: border-box;
  touch-action: manipulation;
  /* outline: red solid 1px; */
}

main {
  display: flex;
  flex-direction: column;
  margin: 4rem;
}

.answers {
  margin-top: 2rem;
  padding-inline: 1rem;
}


.answer-btns,
.buzzer-btns,
.btn-pair {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.buzzer-btn,
.wrong-answer-btn,
.reveal-btn {
  border: black solid 2px;
  background-color: lightcoral;
}

.buzzer-btn:first-child {
  background-color: lightgreen;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.buzzer-btn:last-child {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.new_question-btn {
  border: black solid 2px;
  background-color: lightcoral;
}

.buzz-whenever {
  border: black solid 2px;
  background-color: lightcoral;
}

.reveal-btn {
  background-color: lightskyblue;
}

.new_question-btn {
  background-color: black;
  color: white;
}

.sound-btns {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.sound-btn {
  width: 100%;
  border: black solid 2px;
  overflow: hidden;
  background-color: lightgoldenrodyellow;
}

.sound-btn > p::before {
  content: "🎵";
}

.stats {
  padding-inline: 1rem;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

#round-points {
  text-align: right;

  before {
    content: "POINTS: ";
  }
}

#buzzer-active {
  text-align: center;
}

#wrong-answer::before {
  content: "WRONG: ";
}

#buzzer-active::before {
  content: "BUZZER: ";
}
#connection-status {
  text-align: center;
}

#connection-status::before {
  content: "Connected: ";
}

