* {
  box-sizing: border-box;
  touch-action: manipulation;
  /* outline: red solid 1px; */
}

main {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 2rem;
  max-width: 800px;
}

.answers {
  margin-top: 1rem;
  padding-inline: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.answer-btns,
.buzzer-btns,
.btn-pair {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.sound-btns {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.sound-btn {
  width: 100%;
  border: black solid 2px;
  overflow: hidden;
  background-color: lightgoldenrodyellow;
}

.sound-btn > p::before {
  content: "🎵";
}

.stats {
  padding-inline: 1rem;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

#round-points {
  text-align: right;
}

#round-points::before {
  content: "POINTS: ";
}

#buzzer-active {
  text-align: center;
}

#wrong-answer::before {
  content: "WRONG: ";
}

#buzzer-active::before {
  content: "BUZZER: ";
}
#connection-status {
  text-align: center;
}

#connection-status::before {
  content: "Connected: ";
}
