* {
    box-sizing: border-box;
    touch-action: manipulation;
    /* outline: red solid 1px; */
}

main {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: auto;
    padding: 2rem;
    max-width: 800px;
    font-family: "Oswald", sans-serif;
}

.team-display {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 1rem;
    margin-top: 1rem;
    border-top: 2px black solid;
}

.answers {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.stats {
    padding-inline: 1rem;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}

#wrong-answers {
    flex: 1;
    text-align: center;
}

#round-points {
    flex: 1;
    text-align: center;
}

#buzzer-active {
    flex: 1;
    text-align: center;
    border-inline: black 2px solid;
}

.control-btns {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
}

#wrong-modal-button {
    flex: 0.5;
}

.sound-btns {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: black 2px solid;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
}

#connection-status {
    text-align: center;
    translate: 0 1rem;
    background-color: white;
}

#connection-status::before {
    content: "Connected: ";
}
