<button class="sound-answer-btn @TailwindStyle" @onclick="OnClick">
    @ChildContent
</button>

<style>
    .sound-answer-btn {
        background-color: lightyellow;
        border: black solid 2px;
        color: black;
        padding-block: 0.5rem;
    }
    
    .sound-answer-btn:active {
        background-color: lightblue;
    }
</style>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public EventCallback OnClick { get; set; }
    [Parameter] public string TailwindStyle { get; set; } = string.Empty;
}